.vscode/
~$Berechnung-Timer-Interrupts.xlsx
~$Umrechnung-Koordinaten-in-Schritte.xlsx
.ipynb_checkpoints
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Marvin-Arduino/v15/.suo
.vs/ProjectSettings.json
/build
